@import 'reset-css';

body {
  min-height: 100vh;

  color: #666666;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: #666666;
  cursor: pointer;
}

input {
  color: #666666;
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: #5ebc66;
  flex-shrink: 0;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}