.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 15px;

  font-weight: 400;
  color: #666;
}
  
.label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 85%;

  cursor: pointer;
}

.list {
  max-width: 100%;
  width: 100%;
}

.checked {
  text-decoration: line-through;
}

.text {
  word-break: break-all;
}

.small {
  margin-bottom: 0;

 .text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
}

.buttons_wrapper {
  margin-left: auto;
  text-align: end;
}

.icon {
  width: 25px;
  height: 25px;
  padding: 2px;
  transition: 0.3s ease;
}

.edit {
  fill: rgb(96, 199, 96);
  &:hover {
    fill: green
  }
}

.delete {
  fill: rgb(255, 97, 97);
  &:hover {
    fill: red
  }
}