.task {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 15px;

  cursor: pointer;
  font-weight: 400;
  color: #666;
}

.list {
  max-width: 100%;
  width: 100%;

}

.checked {
  text-decoration: line-through;
}

.text {
  word-break: break-all;
}

.small {
  margin-bottom: 0;

 .text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
}

.buttons_wrapper {
  margin-left: auto
}

.icon {
  width: 25px;
  height: 25px;

  transition: 0.3s ease;
}

.edit {
  fill: rgb(96, 199, 96);
  margin-right: 5px;
  &:hover {
    fill: green
  }
}

.delete {
  fill: rgb(255, 97, 97);
  &:hover {
    fill: red
  }
}